<tr>
  <td class="contentHead" colspan="3" align="center"><span class="fontBold">[head]</span></td>
</tr>
<tr>
  <td class="contentMainTop" colspan="3"><span class="fontBold">
  
  <table width="100%" border="0">
	<tr>
		<td>[logo]</td>
		<td>
		
		<table class="mainContent" cellspacing="1" cellpadding="2" width="100%" border="0">
	<tr>
		<td class="contentMainFirst">[land]:</td>
		<td class="contentMainTop">[flagge]</td>
	</tr>
	<tr>
		<td class="contentMainFirst">[tag]:</td>
		<td class="contentMainTop">[clantag]</td>
	</tr>
	<tr>
		<td class="contentMainFirst">[name]:</td>
		<td class="contentMainTop">[gegner]</td>
	</tr>
	<tr>
		<td class="contentMainFirst">[web]:</td>
		<td class="contentMainTop">[website]</td>
	</tr>

</table>

		
	</td>
	</tr>
</table>
</span><table class="mainContent" cellspacing="1" cellpadding="2" width="100%" border="0">
<tr class="contentHead">
  <td><span class="fontBold">[t_datum]</span></td>
  <td><span class="fontBold">[t_result]</span></td>
  <td><span class="fontBold">[t_squad]</span></td>
  <td><span class="fontBold">[t_liga]</span></td>
  <td><span class="fontBold">[t_xonx]</span></td>

  <td><span class="fontBold">[t_details]</span></td>
</tr>
  [wars]
  </table>
   </td>
</tr>

<tr>
  <td class="contentBottom" colspan="3">
    [foot]
  </td>
</tr>